/* Used for temporary items that should never be visible */
.offscreen {
  position: absolute;
  top: -200%;
  right: -200%;
  visibility: hidden;
}

/* Make sure seams aren't visible */
.chrome, .viewer, .grid, .column, .container {
  overflow: hidden;
}

body {
  font-size: 14px;
  line-height: 20px;
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /*display: none;*/
  background: #445;
  padding: 5px 10px;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity .25s linear;
}

.menu {
  display: inline;
  text-align: left;
}

.menu ul {
  display: none;
  position: absolute;
  bottom: 35px;
  right: 0;
  background: #445;
  border: 1px solid #334;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul a {
  color: white;
  border: 1px solid transparent;
  border-bottom: 1px solid #334;
  width: 10em;
  padding: 0.2em 1em;
  display: block;
}

.menu ul a:hover {
  border: 1px solid white;
  text-decoration: none;
}

.menu-active .menu ul {
  display: inline-block;
}

.active .controls {
  /*display: block;*/
  opacity: 1;
}

body.treesaver {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}

article {
  line-height: 20px;
}

.chrome, .viewer, .lightbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 20px;
}

.grid {
  position: absolute;
  width: 320px;
  line-height: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.grid.cols-2 {
  width: 640px;
}

.grid.cols-3 {
  width: 960px;
}

.column {
  position: absolute;
  width: 300px;
  top: 20px;
  bottom: 20px;
  left: 20px;
  line-height: 20px;
}

.container {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  width: 300px;
}

.lightbox {
  background: #666;
  background: rgba(0, 0, 0, .5);
}

.lightbox .container {
  border: 20px solid #fff;
  background: #fff;
  width: auto;
  right: 20px;
}

.container.cols-2 {
  width: 620px;
}

.container.cols-3 {
  width: 940px;
}

.col-2 {
  left: 340px;
}

.col-3 {
  left: 660px;
}

.pullquote {
  font-style: italic;
  font-size: 25px;
  color: #933;
}

h1 {
  margin: 0 0 20px;
  line-height: 40px;
  font-size: 36px;
  font-family: Sans-Serif;
  color: #334;
}

.container h1 {
  margin-top: 40px;
  margin-bottom: 0;
}

h2 {
  font-family: Sans-Serif;
  color: #556;
  font-size: 20px;
  margin: 0;
}

h2 a {
  color: #556;
  text-decoration: none;
}

h2 a:hover {
  color: #33a;
  text-decoration: underline;
}

.toc .current {
  border: 1px solid red;
}

p[itemprop=byline], .toc .byline {
  margin: 0;
  color: #778;
  font-family: Sans-Serif;
  font-size: 12px;
}

p[itemprop=abstract], .toc .abstract {
  margin-top: 0;
}

p.caption {
  font-family: Sans-serif;
  color: #667;
  margin: 0;
  font-size: 12px;
}

.image-preview {
  border: 1px dotted #ccc;
  padding: 5px;
}

.image-preview img {
  float: left;
  margin: 0 5px 0 0;
}

.loading, .error {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
