/**
 * This will create two semi-transparent hit areas that will
 * navigate to the next and previous pages. In a production
 * version you would set these to be fully transparent.
 */
.next.overlay {
  background-color: rgba(0, 255, 0, 0.1);
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
}

#currentPage {
  z-index: 15;
}

.prev.overlay {
  background-color: rgba(255, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
}
